* {
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #252525;
  color: #ffffff;
  padding: 90px 0 0 0;
}

html{
  scroll-behavior: smooth;
}

#TodaLaPagina{
  width: 100%;
  max-width: 1300px;
  min-width: auto;
  margin: 0 auto;
  color: white;
  border: 5px solid #252525;
}

.header{
  background-color: #2e4664;
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.logo{
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}

.nav{
  display: flex;
  justify-content: space-between;

  max-width: 992;
  margin: o auto;
}

.nav-link{
  color: #ffffff;
  text-decoration: none;
}

.nav-menu{
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item{
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link{
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover{
  background-color: #211e5176;
  transition: 0.5s;
}

.nav-toggle{
  color: #ffffff;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;

 display: none;
}

.encabezado-img{
  background-image: url(https://cdn.discordapp.com/attachments/989554678050222160/995114600779481119/opia.jpeg);
  height: 400px;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.encabezado-img p{
  font-size: 20px;
  padding: 20px 0;
}

.miDiscord{
  align-items: center;
}

.carouseL__contenedor{
  position: absolute;
  align-items: center;
}

.carousel__elemento{
  text-align: center;
}

.carousel__anterior,
.carousel__siguiente {
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 20px;
  text-align: center;
  background: none;
  color: #fff;
  opacity: 0%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
  opacity: 100%;
}

.carousel__indicador .glider-dot{
  display: block;
  width: 20px;
  height: 3px;
  background: #fff;
  opacity: .2;
  border-radius: 0;
}

.carousel__indicador .glider-dot:hover{
  opacity: .5;
}

.carousel__indicador .glider-dot.active{
  opacity: 1;
}

#textoExplicacion {
  color: #d0d0d0f2;
}

#nombresdsc {
  color: #ffffff;
}

#info {
  color: #7f7f7f;
}

.enlaces {
  color: #ffffff;
}

#completo {
  color: rgb(131, 168, 195);
}

#enlace {
  color: aqua;
}

.finalFooter {
  width: 100%;
  background-color: #2b2b2b;
}

.finalFooter .grupo-1{
  width: 100%;
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.finalFooter .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finalFooter .grupo-1 .box figure img{
  width: 65px;
}

.finalFooter .grupo-1 .box h2{
  color: #ffffff;
  margin-bottom: 25px;
  font-size: 20px;
}

.finalFooter .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}

.finalFooter .grupo-1 .redsocial a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #ffffff;
  text-align: center;
  transition: all 300ms ease;
}

.finalFooter .grupo-1 .redsocial a:hover{
  color: aqua;
}

.finalFooter .grupo-2{
  background-color: #0a1a2a5c;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.finalFooter .grupo-2 small{
  font-size: 15px;
}

/*moviles*/
@media screen and (max-width: 950px){
  body {
    padding: 70px 0 0 0;
  }

 .header{
  height:75px;
 }

 .logo{
  font-size: 25px;
  padding: 0 20px;
  line-height: 60px;
 }

 .nav-menu{
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #252525;
  position: fixed;
  left: 0;
  top: 60px;
  width: 100%;
  padding: 20px 0;

  height: calc(100% - 60px);
  overflow-y: auto;

  left: 100%;
  transition: left 0.3s;
 }

 .nav-menu-item{
  line-height: 70px;
 }

 .nav-menu-link:hover{
  background: none;
  color: #7f7f7f;
 }

 .nav-toggle{
  display: block;
 }

 .nav-menu_visible{
  left: 0;
 }
 
 .nav-toggle:focus:not(:focus-visible) {
  outline: none;
}

 .finalFooter .grupo-1{
  width: 90%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  padding: 35px 0px;
 }
}